<div class="searchguard app-container ng-scope">

    <div class="localNav">

        <div class="localNavRow">
            <div class="localNavRow__section">
                <div class="localTitle">
                    Select Tenant
                    <br />
                </div>
            </div>

            <div class="localNavRow__section">
                <div class="localMenu">

                    <div class="localMenuItem"
                         ng-class="{'localMenuItem-isSelected': kbnTopNav.isCurrent(menuItem.key), 'localMenuItem-isDisabled': menuItem.disableButton()}"
                         ng-click="ctrl.showSubmenu = !ctrl.showSubmenu"
                         tooltip="Show more"
                         tooltip-placement="bottom"
                         tooltip-popup-delay="400"
                         tooltip-append-to-body="1"
                         ng-show="ctrl.showroles">
                        <div class="localMenuItem__icon fa fa-user"></div>
                        {{ctrl.username}}
                    </div>

                    <div class="localMenuItem localMenuItem-isDisabled" ng-show="!ctrl.showroles">
                        <div>
                            <div class="localMenuItem__icon fa fa-user"></div>
                            {{ctrl.username}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="localDropdown" ng-show="ctrl.showSubmenu">
            <button class="localDropdownCloseButton" ng-click="ctrl.showSubmenu = false">
                <span class="fa fa-chevron-circle-up"></span>
            </button>
            <div id="template_wrapper">
                <div class="localDropdownPanels">
                    <div class="localDropdownPanel">
                        <!-- Title -->
                        <div data-test-subj="shareUiTitle" class="localDropdownTitle ng-binding">
                            Roles for user {{ctrl.username}}
                        </div>
                        <div class="localDropdownWarning ng-scope">
                            <ul>
                                <li ng-repeat="role in ctrl.rolesArray" ng-bind="role"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="localNavRow localNavRow--secondary" ng-show="ctrl.showfilter">
            <div class="localSearch">
                <input
                        class="localSearchInput"
                        type="text"
                        placeholder="Filter..."
                        autocomplete="off"
                        ng-model="ctrl.tenantSearch"
                        >
                <button class="localSearchButton">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h2 class="text-center" ng-bind="ctrl.tenantLabel"></h2>
                    <h5 class="error-message" ng-if="ctrl.errorMessage" ng-bind="ctrl.errorMessage"></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="tableHeaderCell">Name</th>
                        <th class="tableHeaderCell">Permissions</th>
                        <th class="tableHeaderCell"></th>
                        <th class="tableHeaderCell"></th>
                        <th class="tableHeaderCell"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tableRow" ng-class="{'selected': ctrl.currentTenant == ''}" ng-show="ctrl.globalEnabled && (ctrl.tenantSearch == '' || 'global'.startsWith(ctrl.tenantSearch.toLowerCase()))">
                        <td class="tableRowCell">
                            {{ctrl.GLOBAL_USER_LABEL}}
                        </td>
                        <td class="tableRowCell">
                            <div ng-if="ctrl.GLOBAL_USER_WRITEABLE">read/write</div>
                            <div ng-if="!ctrl.GLOBAL_USER_WRITEABLE">read only</div>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(ctrl.GLOBAL_USER_LABEL, ctrl.GLOBAL_USER_VALUE, 'dash')">Show Dashboards
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(ctrl.GLOBAL_USER_LABEL, ctrl.GLOBAL_USER_VALUE, 'vis')">Show Visualizations
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == ''"
                                    ng-show="ctrl.currentTenant != ctrl.GLOBAL_USER_VALUE"
                                    ng-click="ctrl.selectTenant(ctrl.GLOBAL_USER_LABEL, ctrl.GLOBAL_USER_VALUE)">Select
                            </button>
                        </td>
                    </tr>
                    <tr class="tableRow" ng-class="{'selected': ctrl.currentTenant == ctrl.PRIVATE_USER_VALUE}" ng-show="ctrl.privateEnabled && (ctrl.tenantSearch == '' || 'private'.startsWith(ctrl.tenantSearch.toLowerCase()))">
                        <td class="tableRowCell">
                            {{ctrl.PRIVATE_USER_LABEL}}
                        </td>
                        <td class="tableRowCell">
                            <div>read/write</div>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(ctrl.PRIVATE_USER_LABEL, ctrl.PRIVATE_USER_VALUE, 'dash')">Show Dashboards
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(ctrl.PRIVATE_USER_LABEL, ctrl.PRIVATE_USER_VALUE, 'vis')">Show Visualizations
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == ctrl.PRIVATE_USER_VALUE"
                                    ng-click="ctrl.selectTenant(ctrl.PRIVATE_USER_LABEL, ctrl.PRIVATE_USER_VALUE)">Select
                            </button>
                        </td>
                    </tr>
                    <tr class="tableRow" ng-show="ctrl.tenantSearch == '' || tenantkey.toLowerCase().startsWith(ctrl.tenantSearch.toLowerCase())" ng-repeat="tenantkey in ctrl.tenantkeys" ng-class="{'selected': tenantkey == ctrl.currentTenant}">
                        <td class="tableRowCell">
                            {{tenantkey}}
                        </td>
                        <td class="tableRowCell">
                            <div ng-if="ctrl.tenants[tenantkey]">read/write</div>
                            <div ng-if="!ctrl.tenants[tenantkey]">read only</div>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(tenantkey, tenantkey, 'dash')">Show Dashboards
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(tenantkey, tenantkey, 'vis')">Show Visualizations
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(tenantkey, tenantkey)">Select
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
