<div class="searchguard app-container ng-scope">

    <kbn-top-nav name="discover" config="topNavMenu">
        <navbar class="kibana-nav-options" data-test-subj="top-nav">
            <div ng-transclude="">
                <div class="kibana-nav-info ng-scope">
                    <strong class="discover-info-hits ng-binding">Select tenant</strong>
                </div>
            </div>
            <div class="button-group kibana-nav-actions" role="toolbar">
                <div>
                    <div class="fa fa-user"></div>
                    &nbsp;{{ctrl.username}}&nbsp;
                </div>
            </div>
        </navbar>
    </kbn-top-nav>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h2 class="text-center" ng-bind="ctrl.tenantLabel"></h2>
                    <h5 class="error-message" ng-if="ctrl.errorMessage" ng-bind="ctrl.errorMessage"></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="tableHeaderCell">Name</th>
                        <th class="tableHeaderCell">Permissions</th>
                        <th class="tableHeaderCell"></th>
                        <th class="tableHeaderCell"></th>
                        <th class="tableHeaderCell"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tableRow" ng-class="{'selected': ctrl.currentTenant == ''}" ng-show="ctrl.globalEnabled && (ctrl.tenantSearch == '' || 'global'.startsWith(ctrl.tenantSearch.toLowerCase()))">
                        <td class="tableRowCell">
                            {{ctrl.GLOBAL_USER_LABEL}}
                        </td>
                        <td class="tableRowCell">
                            <div ng-if="ctrl.GLOBAL_USER_WRITEABLE">read/write</div>
                            <div ng-if="!ctrl.GLOBAL_USER_WRITEABLE">read only</div>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(ctrl.GLOBAL_USER_LABEL, ctrl.GLOBAL_USER_VALUE, 'dash')">Show Dashboards
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(ctrl.GLOBAL_USER_LABEL, ctrl.GLOBAL_USER_VALUE, 'vis')">Show Visualizations
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == ''"
                                    ng-show="ctrl.currentTenant != ctrl.GLOBAL_USER_VALUE"
                                    ng-click="ctrl.selectTenant(ctrl.GLOBAL_USER_LABEL, ctrl.GLOBAL_USER_VALUE)">Select
                            </button>
                        </td>
                    </tr>
                    <tr class="tableRow" ng-class="{'selected': ctrl.currentTenant == ctrl.PRIVATE_USER_VALUE}" ng-show="ctrl.privateEnabled && (ctrl.tenantSearch == '' || 'private'.startsWith(ctrl.tenantSearch.toLowerCase()))">
                        <td class="tableRowCell">
                            {{ctrl.PRIVATE_USER_LABEL}}
                        </td>
                        <td class="tableRowCell">
                            <div>read/write</div>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(ctrl.PRIVATE_USER_LABEL, ctrl.PRIVATE_USER_VALUE, 'dash')">Show Dashboards
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(ctrl.PRIVATE_USER_LABEL, ctrl.PRIVATE_USER_VALUE, 'vis')">Show Visualizations
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == ctrl.PRIVATE_USER_VALUE"
                                    ng-click="ctrl.selectTenant(ctrl.PRIVATE_USER_LABEL, ctrl.PRIVATE_USER_VALUE)">Select
                            </button>
                        </td>
                    </tr>
                    <tr class="tableRow" ng-show="ctrl.tenantSearch == '' || tenantkey.toLowerCase().startsWith(ctrl.tenantSearch.toLowerCase())" ng-repeat="tenantkey in ctrl.tenantkeys" ng-class="{'selected': tenantkey == ctrl.currentTenant}">
                        <td class="tableRowCell">
                            {{tenantkey}}
                        </td>
                        <td class="tableRowCell">
                            <div ng-if="ctrl.tenants[tenantkey]">read/write</div>
                            <div ng-if="!ctrl.tenants[tenantkey]">read only</div>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(tenantkey, tenantkey, 'dash')">Show Dashboards
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(tenantkey, tenantkey, 'vis')">Show Visualizations
                            </button>
                        </td>
                        <td class="actions tableRowCell">
                            <button class="btn btn-primary" ng-disabled="ctrl.currentTenant == tenantkey"
                                    ng-click="ctrl.selectTenant(tenantkey, tenantkey)">Select
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
