<div ng-controller="userinfoNavController">

        <sgc-edit-header></sgc-edit-header>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h3 class="indexheading">Account information</h3>
                <div class="kuiHeaderBar" style="margin-bottom: 20px; margin-top: 30px;">
                    <div class="kuiHeaderBarSection">
                        <h2 class="kuiSubTitle">Username</h2>
                    </div>
                </div>
                <ul>
                    <li>{{sg_user.username}}</li>
                </ul>

                <div class="kuiHeaderBar" style="margin-bottom: 20px; margin-top: 30px;">
                    <div class="kuiHeaderBarSection">
                        <h2 class="kuiSubTitle">Search Guard Roles</h2>
                    </div>
                </div>
                <ul data-ng-repeat="role in sg_user.roles">
                    <li>{{role}}</li>
                </ul>
                <div ng-show="sg_user.roles.length == 0" style="font-style: italic">No Search Guard roles found, please check the role mapping for this user.</div>

                <div class="kuiHeaderBar" style="margin-bottom: 20px; margin-top: 30px;">
                    <div class="kuiHeaderBarSection">
                        <h2 class="kuiSubTitle">Backend Roles</h2>
                    </div>
                </div>
                <ul data-ng-repeat="backendrole in sg_user.backendroles">
                    <li>{{backendrole}}</li>
                </ul>
                <div ng-show="sg_user.backendroles.length == 0" style="font-style: italic">No backend roles found.</div>
            </div>
        </div>
    </div>
</div>
