<div ng-controller="sgBaseController">
    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgLicenseController">

        <sgc-edit-header></sgc-edit-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="kuiHeaderBar topBottomMargin">
                        <div class="kuiHeaderBarSection">
                            <h3 class="">Upload new Search Guard license</h3>
                            <span class="kuiInfoButton help" tooltip="Copy and paste the complete license string without any linebreaks in the field below.">
                                <span class="kuiIcon fa-info-circle"></span>
                            </span>
                        </div>
                    </div>


                    <div class="">
                        <form name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" novalidate style="width:70%">

                            <sgc-error-message></sgc-error-message>

                            <div class="form-group">
                                <label for="object-form-license-string">License string</label>
                                <textarea
                                        id="object-form-license-string"
                                        ng-model="resource.licenseString"
                                        class="form-control"
                                        ng-required="true"
                                        rows="10">
                                </textarea>
                            </div>


                            <div class="formsubmit">

                                <button class="kuiButton kuiButton--disabled kuiButton--text" ng-disabled="!resource.licenseString" ng-class="{'kuiButton--primary' : resource.licenseString}" type="submit">Save</button>
                                <button class="kuiButton kuiButton--basic kuiButton--text" type="submit" ng-click="cancel()">Cancel</button>

                                <div style="float: right">
                                    <label for="js-uploadLicenseFile" class="kuiButton kuiButton--secondary">
                                        Upload license file
                                    </label>
                                    <input id="js-uploadLicenseFile" type="file" accept=".txt, .lic" name="licenseFile" style="width: 20px; opacity: 0" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
