#searchguard-signals-app .sg-container {
  max-width: 100em;
  margin: auto;
}

#searchguard-signals-app .sg-page-content-body {
  padding: 1.563em 1.563em;
}

#searchguard-signals-app .sg-flex-group,
#searchguard-signals-app .sg-group {
  max-width: 75em;
  margin-top: 0;
}

#searchguard-signals-app .sg-flex-item {
  max-width: 25em;
}

#searchguard-signals-app .sg-watches-lastStatus-col-badge {
  width: 140px;
}

/*
Prevent scrolling up when clicking at Ace editor input the first time
https://github.com/ajaxorg/ace/issues/2963#issuecomment-297122112
*/
.ace_text-input {
  position: absolute!important;
}