<div ng-controller="sgBaseController">


    <div class="searchguard " ng-controller="sgEditRolesController">

        <div class="kuiLocalNav">
            <div class="kuiLocalNavRow">
                <div class="kuiLocalNavRow__section">
                    <div class="kuiLocalTitle">
                        {{title()}}
                    </div>
                </div>
            </div>
            <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
                <div class="kuiLocalTabs">
                    <a ng-click="selectTab('overview')" ng-class="getTabCss('overview')">Overview</a>
                    <a ng-click="selectTab('clusterpermissions')" ng-class="getTabCss('clusterpermissions')">Cluster Permissions</a>
                    <a ng-click="selectTab('indexpermissions')" ng-class="getTabCss('indexpermissions')">Index Permissions</a>
                    <a ng-if="systeminfo.modules.DLSFLS" ng-click="selectTab('dlsfls')" ng-class="getTabCss('dlsfls')">DLS/FLS</a>
                    <a ng-if="systeminfo.modules.MULTITENANCY" ng-click="selectTab('tenants')" ng-class="getTabCss('tenants')">Tenants</a>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">

                <form name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" novalidate style="width:70%">

                    <sgc-error-message></sgc-error-message>

                    <div class="col-xs-12">

                        <div ng-show="selectedTab=='overview'">
                            <sgc-form-resource-name></sgc-form-resource-name>
                            <div class="kuiHeaderBar">
                                <div class="kuiHeaderBarSection">
                                    <h2 class="kuiSubTitle">Mappings</h2>
                                </div>
                            </div>
                            <h5><b>Users:</b></h5>
                            <ul>
                                <li data-ng-repeat="user in rolemapping.users" ng-bind="user"></li>
                            </ul>
                            <div ng-show="!rolemapping.users" style="font-style: italic">No mapped users found.</div>
                            <h5><b>Backend Roles:</b></h5>
                            <ul>
                                <li data-ng-repeat="backendrole in rolemapping.backendroles" ng-bind="backendrole"></li>
                            </ul>
                            <div ng-show="!rolemapping.backendroles" style="font-style: italic">No mapped backend roles found.</div>
                            <h5><b>Hosts:</b></h5>
                            <ul>
                                <li data-ng-repeat="host in rolemapping.hosts" ng-bind="host"></li>
                            </ul>
                            <div ng-show="!rolemapping.hosts" style="font-style: italic">No mapped hosts found.</div>

                        </div>

                        <div ng-show="selectedTab=='clusterpermissions'">
                            <sgc-permissions permissionsResource="resource.cluster"></sgc-permissions>
                        </div>

                        <div ng-show="selectedTab=='indexpermissions'">


                            <div class="kuiHeaderBar">
                                <div class="kuiHeaderBarSection">
                                    <h2 class="kuiSubTitle">Index permissions for</h2>
                                </div>
                            </div>

                            <!-- Index Table, display mode -->
                            <table class="kuiTable tableIndexGroups" style="border: none;" ng-show="!addingIndex">
                                <thead>
                                <tr>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                        Index
                                    </th>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                        Document Type
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="kuiTableRow" ng-show="indicesEmpty()" style="border: none;">
                                    <td class="kuiTableRowCell cellAlignTop kuiNoItems sgNoItems" colspan="2" style="border: none;">
                                        <i>No permissions found.</i>
                                    </td>
                                </tr>
                                <tr data-test-subj="userRow" class="kuiTableRow" ng-show="!indicesEmpty()">
                                    <td class="kuiTableRowCell cellAlignTop" style="border: none;">
                                        <select ng-model="selectedIndex" ng-change="onIndexChange()" ng-options="str for str in keys(resource.indices).sort() track by str"></select>
                                    </td>
                                    <td class="kuiTableRowCell cellAlignTop " style="border: none;">
                                        <select ng-model="selectedDocumentType" ng-options="str for str in keys(resource.indices[selectedIndex]).sort() track by str"></select>
                                    </td>
                                </tr>
                                <tr class="kuiTableRow">
                                    <td class="kuiTableRowCell cellAlignTop actions" style="border: none;"></td>
                                    <td class="kuiTableRowCell cellAlignTop actions" style="border: none;">
                                        <button type="button" ng-click="addIndex()" class="kuiButton kuiButton--primary kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                        </button>
                                        <a ng-show="!indicesEmpty()" ng-click="deleteDocumentType()" class="kuiButton kuiButton--danger kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- Index Table, add mode -->
                            <table class="kuiTable tableIndexGroups" style="border: none;" ng-show="addingIndex">
                                <thead>
                                <tr>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                        Index
                                    </th>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                        Document Type
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-test-subj="userRow" class="kuiTableRow">
                                    <td class="kuiTableRowCell cellAlignTop" style="border: none;">
                                        <fieldset class="marginbottom--small" id="object-form-index">

                                            <angucomplete id="object-form-index"
                                                          placeholder="Add Index"
                                                          pause="10"
                                                          selectedobject="newIndexName"
                                                          localdata="indexAutoComplete"
                                                          minlength="1"
                                                          datafield="name"
                                                          titlefield="name"
                                                          searchfields="name"
                                                          inputclass="kuiTextInput fullwidth"/>
                                        </fieldset>
                                    </td>
                                    <td class="kuiTableRowCell cellAlignTop " style="border: none;">
                                        <fieldset class="marginbottom--small" id="object-form-actiongroups">

                                            <angucomplete id="object-form-index"
                                                          placeholder="Add Document Type"
                                                          pause="10"
                                                          selectedobject="newDocumentTypeName"
                                                          localdata="doctypeAutoComplete"
                                                          minlength="1"
                                                          datafield="name"
                                                          titlefield="name"
                                                          searchfields="name"
                                                          inputclass="kuiTextInput fullwidth"/>
                                        </fieldset>
                                    </td>
                                </tr>
                                <tr class="kuiTableRow">
                                    <td class="kuiTableRowCell cellAlignTop actions" style="border: none;"></td>
                                    <td class="kuiTableRowCell cellAlignTop actions" style="border: none;">
                                        <button class="kuiButton kuiButton--primary kuiButton--text" type="button" ng-click="submitAddIndex()">Add</button>
                                        <button class="kuiButton kuiButton--secondary kuiButton--text" type="button" ng-click="cancelAddIndex()">Cancel</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <sgc-permissions permissionsResource="resource.indices[selectedIndex][selectedDocumentType]" ng-show="selectedIndex != '' && !addingIndex"></sgc-permissions>

                        </div>

                        <div ng-show="selectedTab=='dlsfls'">

                            <div class="kuiHeaderBar">
                                <div class="kuiHeaderBarSection">
                                    <h2 class="kuiSubTitle">Document- and Field-Level-Security</h2>
                                </div>
                            </div>

                            <!-- Index Table, display mode -->
                            <table class="kuiTable tableIndexGroups" style="border: none;">
                                <thead>
                                <tr>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                        Index
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="kuiTableRow" ng-show="indicesEmpty()" style="border: none;">
                                        <td class="kuiTableRowCell cellAlignTop kuiNoItems sgNoItems" style="border: none;">
                                            <i>No index defined.</i>
                                        </td>
                                    </tr>
                                    <tr data-test-subj="userRow" ng-show="!indicesEmpty()" class="kuiTableRow">
                                        <td class="kuiTableRowCell cellAlignTop" style="border: none;">
                                            <select ng-model="selectedIndex" ng-options="str for str in keys(resource.indices).sort() track by str"></select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- DLS Table -->
                            <table class="kuiTable tableIndexGroups" ng-show="!indicesEmpty()">
                                <thead>
                                <tr>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                        Document Level Security
                                    </th>

                                    <th class="kuiTableHeaderCell">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="kuiTableRow">
                                    <td class="kuiTableRowCell cellAlignTop">
                                        <fieldset class="marginbottom--small" id="object-form-actiongroups">
                                            <input type="text" class="kuiTextInput fullwidth" ng-model="resource.dlsfls[selectedIndex]['_dls_']" name="">
                                        </fieldset>
                                    </td>
                                    <td class="kuiTableRowCell cellAlignTop actions">
                                        <a ng-click="resource.dlsfls[selectedIndex]['_dls_']=''" class="kuiButton kuiButton--danger kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- FLS Table -->
                            <table class="kuiTable tableIndexGroups" ng-show="!indicesEmpty()">
                                <thead>
                                <tr>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                        Field Level Security
                                    </th>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups actions">
                                        <select name="flsModeSelect" ng-model="resource.dlsfls[selectedIndex]['_flsmode_']">
                                            <option value="whitelist">Whitelist fields</option>
                                            <option value="blacklist">Blacklist fields</option>
                                        </select>

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="actiongroup in resource.dlsfls[selectedIndex]['_fls_'] track by $index">
                                    <td class="kuiTableRowCell cellAlignTop">
                                        <fieldset class="marginbottom--small" id="object-form-actiongroups" >
                                            <input type="text" class="kuiTextInput fullwidth" ng-model="resource.dlsfls[selectedIndex]['_fls_'][$index]" name="">
                                        </fieldset>
                                    </td>
                                    <td class="kuiTableRowCell cellAlignTop actions">
                                        <a ng-click="removeArrayEntry(resource.dlsfls[selectedIndex]['_fls_'], actiongroup)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="kuiTableRow">
                                    <td class="kuiTableRowCell cellAlignTop actions"></td>
                                    <td class="kuiTableRowCell cellAlignTop actions">
                                        <button type="button" ng-click="addArrayEntry(resource.dlsfls[selectedIndex], '_fls_', '')" ng-disabled="lastArrayEntryEmpty(resource.dlsfls[selectedIndex]['_fls_'])" class="kuiButton kuiButton--primary kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                            Add Field
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div ng-show="selectedTab=='tenants'">
                            <table class="kuiTable">
                                <thead>
                                <tr>
                                    <th class="kuiTableHeaderCell" style="width: 50%;">
                                        Tenant
                                    </th>
                                    <th class="kuiTableHeaderCell">
                                        Permissions
                                    </th>
                                    <th class="kuiTableHeaderCell">

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="kuiTableRow" data-ng-repeat="tenant in sortObjectArray(resource.tenantsArray,'name') track by $index">
                                    <td class="kuiTableRowCell">
                                        <fieldset class="marginbottom--small" id="object-form-actiongroups">
                                            <input type="text" class="kuiTextInput fullwidth" ng-model="resource.tenantsArray[$index].name">
                                        </fieldset>
                                    </td>
                                    <td class="kuiTableRowCell cellAlignTop">
                                        <select name="permissionsSelect" ng-model="resource.tenantsArray[$index].permissions">
                                            <option value="RW">Read / Write</option>
                                            <option value="RO">Read Only</option>
                                        </select>
                                    </td>
                                    <td class="kuiTableRowCell actions">
                                        <a ng-href="#/roles/editindex/{{resourcename}}/{{indexname | escape}}"
                                           class="kuiButton kuiButton--primary kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-edit"></span>
                                        </a>
                                        <a ng-click="removeFromObjectArray(resource.tenantsArray, $index, resource.tenantsArray[$index].name)"
                                           class="kuiButton kuiButton--danger kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="kuiTableRow">
                                    <td class="kuiTableRowCell cellAlignTop actions"></td>
                                    <td class="kuiTableRowCell cellAlignTop actions"></td>
                                    <td class="kuiTableRowCell cellAlignTop actions">
                                        <button type="button" ng-click="addToObjectArray(resource.tenantsArray, {name: '', permissions: 'RW'})"
                                                ng-disabled="lastArrayEntryEmpty(permissionsResource.permissions)"
                                                class="kuiButton kuiButton--primary kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                            Add Tenant
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="formsubmit">
                            <button ng-disabled="!endpointAndMethodEnabled('ROLES', 'PUT') || resource.readonly"  class="kuiButton kuiButton--primary kuiButton--text" type="submit">Save Role Definition</button>
                            <button class="kuiButton kuiButton--secondary kuiButton--text" type="submit" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
