<div ng-controller="sgBaseController">

    <div class="searchguard app-container" ng-controller="sgEditRolesController">

        <sgc-edit-header></sgc-edit-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <sgc-form-resource-name></sgc-form-resource-name>
                </div>
            </div>
            <div class="row">

                <div class="kuiViewContent kuiViewContent--constrainedWidth ng-scope" style="text-align: center;">
                    <div class="kuiGallery kuiViewContentItem" style="text-align: center;">
                        <a class="kuiGalleryButton ng-scope" ng-click="editClusterPermissions()">
                            <div class="kuiGalleryButton__image">
                                <span class="fa fa-lock fa-5x"></span>
                            </div>
                            <div lass="kuiGalleryButton__label" data-test-subj="sg_config" class="ng-binding">
                                Manage Cluster Permissions
                            </div>
                        </a>

                        <a class="kuiGalleryButton ng-scope" ng-click="editIndexPermissions()"
                           tooltip="Configure Internal Users" tooltip-placement="bottom">
                            <div class="kuiGalleryButton__image">
                                <span class="fa fa-user fa-5x"></span>
                            </div>
                            <div lass="kuiGalleryButton__label" data-test-subj="sg_internal_users" class="ng-binding">
                                Manage Index Permissions
                            </div>
                        </a>

                        <a class="kuiGalleryButton ng-scope" ng-click="editTenants()" tooltip="Configure Internal Users"
                           tooltip-placement="bottom" >
                            <div class="kuiGalleryButton__image">
                                <span class="fa fa-sitemap fa-5x"></span>
                            </div>
                            <div lass="kuiGalleryButton__label" data-test-subj="sg_actiongroups" class="ng-binding">
                                Manage Tenants
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
