<div ng-controller="sgBaseController">

    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgEditRolesController">

        <sgc-edit-header></sgc-edit-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="">

                        <form name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" novalidate
                              style="width:70%">

                            <p class="error-message" ng-show="errorMessage">{{ errorMessage }}</p>

                            <sgc-form-resource-name></sgc-form-resource-name>

                            <h4>Manage Cluster Permission</h4>

                            <sgc-permissions permissionsResource="resource.cluster"></sgc-permissions>


                            <div class="formsubmit">
                                <button class="kuiButton kuiButton--primary kuiButton--text" type="submit">Submit
                                </button>
                                <button class="kuiButton kuiButton--secondary kuiButton--text" type="submit"
                                        ng-click="cancelEditRoleSection()">Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
