<div ng-controller="sgBaseController">

    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgEditRolesController">

        <sgc-edit-header></sgc-edit-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <p class="error-message" ng-show="errorMessage">{{ errorMessage }}</p>

                        <form name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" novalidate style="width:70%">

                            <sgc-form-resource-name></sgc-form-resource-name>


                            <accordeon title="Cluster permissions" is-collapsed="true" ng-if="!isNew">
                                <div class="form-group">
                                    <label for="object-form-actiongroups">Action groups</label>
                                    <fieldset class="marginbottom--small" id="object-form-actiongroups" data-ng-repeat="actiongroup in resource.cluster.actiongroups track by $index">
                                        <angucomplete id="clusteractiongroup-{{index}}"
                                                      placeholder="Add Action Group"
                                                      pause="10"
                                                      selectedobject="resource.cluster.actiongroups[$index]"
                                                      localdata="actiongroupsAutoComplete"
                                                      minlength="1"
                                                      datafield="name"
                                                      titlefield="name"
                                                      searchfields="name"
                                                      inputclass="kuiTextInput sevenwidth"/>
                                        <button style="display:inline-block" type="button" ng-click="removeArrayEntry(resource.cluster.actiongroups, actiongroup)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                        </button>
                                    </fieldset>
                                    <br/>

                                    <a ng-click="addArrayEntry(resource.cluster, 'actiongroups', '')" ng-disabled="lastArrayEntryEmpty(resource.cluster.actiongroups)" class="kuiButton kuiButton--primary kuiButton--iconText">
                                        <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                        Add Action Group
                                    </a>
                                </div>
                                <div class="form-group">
                                    <label for="object-form-actiongroups">Permissions</label>
                                    <fieldset class="marginbottom--small" id="object-form-actiongroups" data-ng-repeat="permission in resource.cluster.permissions track by $index">
                                        <input type="text" class="kuiTextInput sevenwidth" ng-model="resource.cluster.permissions[$index]" name="">
                                        <a ng-click="removeArrayEntry(resource.cluster.permissions, permission)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                            <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                        </a>
                                    </fieldset>
                                    <br/>
                                    <button type="button" ng-click="addArrayEntry(resource.cluster, 'permissions', '')" ng-disabled="lastArrayEntryEmpty(resource.cluster.permissions)" class="kuiButton kuiButton--primary kuiButton--iconText">
                                        <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                        Add Permission
                                    </button>
                                </div>
                            </accordeon>
                            <accordeon title="Index permissions" is-collapsed="true" ng-if="!isNew">

                                <!-- Add index button -->
                                <table class="tableIndexGroups fullwidth">
                                    <tr>
                                        <td>
                                        </td>
                                        <td class="actions">
                                            <button type="button" class="kuiButton kuiButton--primary kuiButton--iconText" ng-click="shownewresource = true">
                                                <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                                Add Index
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                                <!-- Add index form -->
                                <table class="kuiTable tableIndexGroups" ng-show="shownewresource">
                                    <thead>
                                    <tr>
                                        <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                            Index Name
                                        </th>
                                        <th class="kuiTableHeaderCell">
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-test-subj="userRow" class="kuiTableRow">
                                        <td class="kuiTableRowCell cellAlignTop">
                                            <fieldset class="marginbottom--small" id="object-form-actiongroups">
                                                <input type="text" class="kuiTextInput fullwidth" ng-model="newresourcename" name="">
                                                {{newresourcename}}
                                            </fieldset>
                                        </td>
                                        <td class="kuiTableRowCell cellAlignTop actions">
                                            <button type="button" class="kuiButton kuiButton--primary kuiButton--text" ng-click="submitAddIndex(newresourcename)">Add</button>
                                            <button type="button" class="kuiButton kuiButton--secondary kuiButton--text" ng-click="shownewresource = false;newresourcename=''">Cancel</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="kuiTable">
                                    <thead>
                                        <tr>
                                            <th class="kuiTableHeaderCell">
                                                Index name
                                            </th>
                                            <th class="kuiTableHeaderCell">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="kuiTableRow" data-ng-repeat="indexname in keys(resource.indices).sort() track by $index">
                                            <td class="kuiTableRowCell sevenwidth">
                                                <a ng-href="#/roles/editindex/{{resourcename}}/{{indexname | escape}}">
                                                    {{indexname}}
                                                </a>
                                            </td>
                                            <td class="kuiTableRowCell actions">
                                                <a ng-href="#/roles/editindex/{{resourcename}}/{{indexname | escape}}" class="kuiButton kuiButton--primary kuiButton--iconText">
                                                    <span class="kuiButton__icon kuiIcon fa-edit"></span>
                                                </a>
                                                <a ng-click="removeObjectKey(resource.indices, indexname)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                                    <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </accordeon>

                            <accordeon title="Tenants" is-collapsed="true" ng-if="!isNew">
                                <table class="kuiTable">
                                    <thead>
                                    <tr>
                                        <th class="kuiTableHeaderCell">
                                            Tenant
                                        </th>
                                        <th class="kuiTableHeaderCell">
                                            Permissions
                                        </th>
                                        <th class="kuiTableHeaderCell">

                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="kuiTableRow" data-ng-repeat="tenantname in keys(resource.tenants).sort() track by $index">
                                        <td class="kuiTableRowCell">
                                            {{tenantname}}
                                        </td>
                                        <td class="kuiTableRowCell cellAlignTop">
                                            {{resource.tenants[tenantname]}}
                                        </td>
                                        <td class="kuiTableRowCell actions">
                                            <a ng-href="#/roles/editindex/{{resourcename}}/{{indexname | escape}}" class="kuiButton kuiButton--primary kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-edit"></span>
                                            </a>
                                            <a ng-click="removeObjectKey(resource.indices, indexname)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </accordeon>

                            <br />
                            <button class="kuiButton kuiButton--primary kuiButton--text" type="submit">Submit</button>
                            <button class="kuiButton kuiButton--secondary kuiButton--text" type="submit" ng-click="cancel()">Cancel</button>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
