<div ng-controller="sgBaseController">

    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgEditRolesController">

        <sgc-edit-header></sgc-edit-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div>

                        <form name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" style="width:80%">

                            <p class="error-message" ng-show="errorMessage">{{ errorMessage }}</p>

                            <sgc-form-resource-name></sgc-form-resource-name>

                            <!-- Add document type -->
                            <table class="tableIndexGroups fullwidth">
                                <tr>
                                    <td>
                                        <h4>Index Name: {{indexname}}</h4>
                                    </td>
                                    <td class="actions">
                                        <button type="button" class="kuiButton kuiButton--primary kuiButton--iconText" ng-click="shownewresource = true">
                                            <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                            Add Document Type
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            <!-- Add document type form -->
                            <table class="kuiTable tableIndexGroups" ng-show="shownewresource">
                                <thead>
                                <tr>
                                    <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                        Document Type Name
                                    </th>
                                    <th class="kuiTableHeaderCell">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr data-test-subj="userRow" class="kuiTableRow">
                                        <td class="kuiTableRowCell cellAlignTop">
                                            <fieldset class="marginbottom--small" id="object-form-actiongroups">
                                                <input type="text" class="kuiTextInput fullwidth" ng-model="newresourcename" name="">
                                            </fieldset>
                                        </td>
                                        <td class="kuiTableRowCell cellAlignTop actions">
                                            <button type="button" class="kuiButton kuiButton--primary kuiButton--text" ng-click="submitAddDocumentType()">Add</button>
                                            <button type="button" class="kuiButton kuiButton--secondary kuiButton--text" ng-click="shownewresource = false;newresourcename=''">Cancel</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <accordeon title="Permissions for document type: '{{doctypename}}'" is-collapsed="true" class="marginbottom--small" data-ng-repeat="doctypename in keys(resource.indices[indexname])">

                                <!-- Delete document type -->
                                <table class="tableIndexGroups fullwidth">
                                    <tr>
                                        <td class="actions">
                                            <button type="button" ng-click="removeObjectKey(resource.indices[indexname], doctypename)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-trash"></span>
                                                Delete Document Type '{{doctypename}}'
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                                <sgc-permissions permissionsResource="resource.indices[indexname][doctypename]"></sgc-permissions>

                            </accordeon>

                            <accordeon title="Document- and Field-Level-Security" is-collapsed="true" class="marginbottom--small">
                                <!-- DLS Table -->
                                <table class="kuiTable tableIndexGroups">
                                    <thead>
                                    <tr>

                                        <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                            Document Level Security
                                        </th>

                                        <th class="kuiTableHeaderCell">
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="kuiTableRow">
                                        <td class="kuiTableRowCell cellAlignTop">
                                            <fieldset class="marginbottom--small" id="object-form-actiongroups">
                                                <input type="text" class="kuiTextInput fullwidth" ng-model="resource.dlsfls[indexname]['_dls_']" name="">
                                            </fieldset>
                                        </td>
                                        <td class="kuiTableRowCell cellAlignTop actions">
                                            <a ng-click="resource.dlsfls[indexname]['_dls_']=''" class="kuiButton kuiButton--danger kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- FLS Table -->
                                <table class="kuiTable tableIndexGroups">
                                    <thead>
                                    <tr>

                                        <th class="kuiTableHeaderCell tableHeaderCellIndexGroups">
                                            Field Level Security
                                        </th>

                                        <th class="kuiTableHeaderCell tableHeaderCellIndexGroups actions">
                                            <select name="flsModeSelect" ng-model="resource.dlsfls[indexname]['_flsmode_']" required="required" >
                                                <option value="whitelist">Whitelist fields</option>
                                                <option value="blacklist">Blacklist fields</option>
                                            </select>

                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="actiongroup in resource.dlsfls[indexname]['_fls_'] track by $index">
                                        <td class="kuiTableRowCell cellAlignTop">
                                            <fieldset class="marginbottom--small" id="object-form-actiongroups" >
                                                <input type="text" class="kuiTextInput fullwidth" ng-model="resource.dlsfls[indexname]['_fls_'][$index]" name="">
                                            </fieldset>
                                        </td>
                                        <td class="kuiTableRowCell cellAlignTop actions">
                                            <a ng-click="removeArrayEntry(resource.dlsfls[indexname]['_fls_'], actiongroup)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="kuiTableRow">
                                        <td class="kuiTableRowCell cellAlignTop actions"></td>
                                        <td class="kuiTableRowCell cellAlignTop actions">
                                            <button type="button" ng-click="addArrayEntry(resource.dlsfls[indexname], '_fls_', '')" ng-disabled="lastArrayEntryEmpty(resource.dlsfls[indexname]['_fls_'])" class="kuiButton kuiButton--primary kuiButton--iconText">
                                                <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                                Add Field
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </accordeon>
                            <div class="formsubmit">
                                <button class="kuiButton kuiButton--primary kuiButton--text" type="submit">Submit</button>
                                <button class="kuiButton kuiButton--secondary kuiButton--text" type="submit" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
