<div ng-controller="sgBaseController">
    <div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgEditActionGroupsController">

        <sgc-edit-header></sgc-edit-header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <p class="error-message" ng-show="errorMessage">{{ errorMessage }}</p>
                        <form name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" novalidate style="width:70%">
                            <div class="form-group">
                                <label for="object-form-id">Action Group Name</label>
                                <input
                                        ng-show="isNew"
                                        id="object-form-id"
                                        name="id"
                                        type="text"
                                        ng-model="resourcename"
                                        class="form-control"
                                        required/>
                                <div ng-show="!isNew">{{resourcename}}</div>
                            </div>

                            <sgc-permissions permissionsResource="resource"></sgc-permissions>

                            <hr />

                            <button class="kuiButton kuiButton--primary kuiButton--text" type="submit">Submit</button>
                            <button class="kuiButton kuiButton--secondary kuiButton--text" type="submit" ng-click="cancel()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
