<div class="form-group">

    <table class="fullwidth" ng-show="!isNew">
        <tr>
            <td>
                <h3>{{resourcelabel}}: {{resourcename}}</h3>
            </td>
            <td class="actions">
                <button ng-if="showEditor" type="button" class="kuiButton kuiButton--secondaryy kuiButton--iconText" ng-click="loadJSON(resource)">
                    <span class="kuiButton__icon kuiIcon fa-refresh" ng-bind></span>
                    Refresh
                </button>
                <button type="button" class="kuiButton kuiButton--secondaryy kuiButton--iconText" ng-click="toggleEditor(resource)">
                    <span class="kuiButton__icon kuiIcon fa-code" ng-bind></span>
                    {{toggleEditorLabel}}
                </button>
            </td>
        </tr>
    </table>

    <div
            id="object-form-json-raw"
            name="jsonRaw"
            ui-ace="{ onLoad: aceLoaded, mode: 'json' }"
            readonly
            ng-model="resourceAsJson"
            required
            ng-if="showEditor"
            >

    </div>

    <div ng-show="isNew">
        <label for="object-form-id-new">{{service.newLabel}}:</label>
        <input
                id="object-form-id-new"
                name="objectId"
                type="text"
                ng-model="resourcename"
                class="form-control kuiTextInput"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                required
                ng-required="isNew"/>
    </div>

</div>
