<div class="searchguard app-container ng-scope" id="section-editor" ng-controller="sgEditActionGroupsController">

    <sgc-edit-header></sgc-edit-header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <p class="error-message" ng-show="errorMessage">{{ errorMessage }}</p>
                    <form name="objectForm" id="object-form" method="post" ng-submit="saveObject($event)" novalidate style="width:70%">
                        <div class="form-group">
                            <label for="object-form-id">Action Group Name</label>
                            <input
                                    ng-show="isNew"
                                    id="object-form-id"
                                    name="id"
                                    type="text"
                                    ng-model="resourcename"
                                    class="form-control"
                                    required/>
                            <div ng-show="!isNew">{{resourcename}}</div>
                        </div>
                        <div class="form-group">
                            <label for="object-form-actiongroups">Action Groups</label>
                            <fieldset class="marginbottom--small" id="object-form-actiongroups" data-ng-repeat="actiongroup in resource.actiongroups track by $index">
                                <input type="text" class="kuiTextInput sevenwidth" ng-model="resource.actiongroups[$index]" name="">
                                <a ng-click="removeActionGroup(actiongroup)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                    <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                </a>
                            </fieldset>
                            <br/>
                            <button ng-click="addActionGroup()" ng-disabled="lastActionGroupEmpty()" class="kuiButton kuiButton--primary kuiButton--iconText">
                                <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                Add Action Group
                            </button>
                        </div>

                        <div class="form-group">
                            <label for="object-form-permissions">Permissions</label>
                            <fieldset class="marginbottom--small" id="object-form-permissions" data-ng-repeat="permission in resource.permissions track by $index">
                                <input type="text" class="kuiTextInput sevenwidth" ng-model="resource.permissions[$index]" name="">
                                <a ng-click="removePermission(permission)" class="kuiButton kuiButton--danger kuiButton--iconText">
                                    <span class="kuiButton__icon kuiIcon fa-trash-o"></span>
                                </a>
                            </fieldset>
                            <br/>
                            <button ng-click="addPermission()" ng-disabled="lastPermissionEmpty()" class="kuiButton kuiButton--primary kuiButton--iconText">
                                <span class="kuiButton__icon kuiIcon fa-plus"></span>
                                Add Permission
                            </button>
                        </div>

                        <hr />

                        <button class="kuiButton kuiButton--primary kuiButton--text" type="submit">Submit</button>
                        <button class="kuiButton kuiButton--secondary kuiButton--text" type="submit" ng-click="cancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
