#searchguard-signals-app .sg-container {
  max-width: 100em;
  margin: auto;
}

#searchguard-signals-app .sg-page-content-body {
  padding: 1.563em 1.563em;
}

/*
Prevent scrolling up when clicking at Ace editor input the first time
https://github.com/ajaxorg/ace/issues/2963#issuecomment-297122112
*/
.ace_text-input {
  position: absolute!important;
}