.blocksWatch-blocks-list {
  width: 100%;
  margin: .625em 0;
  padding: .938em 0;
}

.blocksWatch-blocks-list-item {
  overflow: hidden;
  transform-origin: 30% 50% 0;
  background: #fff;
  max-height: 100%;
  border-radius: .2em;
  padding: 0;
}

.drag-handle {
  cursor: 'move'
}