#searchGuardKibanaPlugin .container {
  max-width: 100em;
  margin: auto;
}

#searchGuardKibanaPlugin .sgHomeMenu__card {
  width: 200px;
}

#searchGuardKibanaPlugin .sgContentPanel {
  padding: 0px 0px;
}

#searchGuardKibanaPlugin .sgContentPanel .sgContentPanel__header {
  padding: 0px 10px;
}

#searchGuardKibanaPlugin .sgContentPanel .sgContentPanel__body {
  padding: 0px 10px;
}

#searchGuardKibanaPlugin .sgDynamicValuesForm {
  margin-top: 5px;
}

#searchGuardKibanaPlugin .sgDynamicValuesForm__title, .sgDynamicValuesForm__item, .sgDynamicValuesForm__empty {
  margin-bottom: 0px;
}

#searchGuardKibanaPlugin .sgSideNav {
  width: 220px;
}

#searchGuardKibanaPlugin .sgFixedFormItem {
  max-width: 400px;
}

#searchGuardKibanaPlugin .sgFixedFormGroupItem {
  max-width: 800px;
}

#searchGuardKibanaPlugin .sgConfirmModalBody {
  padding: 20px;
}
